@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

/* AGREGAMOS ESTO PARA EL MOVIMIENTO SUAVE */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F9FAFB; 
  color: #1F2937; 
}